<html>
<body>
<% @channels.each do |channel|%>
<%= channel['channel_id'] %>
<a href="/<%= @teamname %>/channel/<%= channel['channel_name'] %>"><%= channel['channel_name'] %></a>
<span style="color:#777"><%= channel['num_messages'] %> messages<% if channel['num_messages'].to_i != 0 %>, last updated <%= channel['lastupdated'] %>
<% end %>
</span>
<br>
<% end %>
</body>
</html>
