channels: #{@channelname} <br>
- @messages.each do |message|
  %span{style: "font-weight:bold"}
    #{message['user_name']}:
  #{@escape.call(message['text'])}
  %span{style: "color:#999;font-size:80%"}
    #{message['ts']}:#{message['created']}
  <br>